<main class="flex justify-center items-center min-h-screen">
    <section class="w-1/2 bg-amber-500 p-4">
        <div>
            <form action="" class="flex flex-col">
                <label for="email">Email</label>
                <input type="email" class="bg-white">
                <label for="password">Password</label>
                <input type="password" class="bg-white">
                <button type="button" class="hover:cursor-pointer p-2 border m-2">Login</button>
            </form>
        </div>
    </section>
</main>
