<div>
    <h2 class="text-xl font-semibold mb-2">{{book.title}}</h2>
    <p class="text-gray-600 mb-2 cursor-pointer hover:underline" (click)="goAuthorProfile(book)">Autor:
        {{book.author_name}}</p>
    <p class="text-gray-500">{{book.description}}</p>
</div>
<div class="flex justify-end mt-4" *ngIf="currentUser.id != book.author_id">
    <button class="p-2 text-white rounded cursor-pointer hover:opacity-90"
        [ngClass]="isFavorite ? 'bg-red-500' : 'bg-blue-500'" (click)="onFavorite(book)">
        {{ isFavorite ? 'Eliminar de favoritos' : 'Añadir a favoritos' }}
    </button>
</div>
<div class="flex justify-end gap-2 mt-4" *ngIf="currentUser.id == book.author_id">
    <button class="p-2 bg-green-500 text-white rounded cursor-pointer hover:opacity-90" (click)="showEditDialog()">
        Editar
    </button>
    <button class="p-2 bg-red-500 text-white rounded cursor-pointer hover:opacity-90" (click)="onDelete(book)">
        Eliminar
    </button>
</div>

<p-dialog header="Editar Libro" [(visible)]="editVisible" [modal]="true" [style]="{ width: '400px' }">
    <form [formGroup]="editBookForm" class="flex flex-col gap-4">
        <div class="flex flex-col">
            <label for="title">Título</label>
            <input type="text" formControlName="title" class="border p-2">
            <span *ngIf="editBookForm.get('title')?.errors?.['required'] && editBookForm.get('title')?.touched"
                class="text-red-500">Título es requerido</span>
        </div>

        <div class="flex flex-col">
            <label for="description">Descripción</label>
            <textarea formControlName="description" rows="4" class="border p-2"></textarea>
            <span
                *ngIf="editBookForm.get('description')?.errors?.['required'] && editBookForm.get('description')?.touched"
                class="text-red-500">Descripción es requerida</span>
        </div>

        <div class="flex justify-end">
            <button type="button" [disabled]="!editBookForm.valid"
                class="p-2 bg-blue-500 text-white rounded cursor-pointer hover:opacity-90" (click)="updateBook()">
                Actualizar
            </button>
        </div>
    </form>
</p-dialog>