<div class="bg-[#F5F5F7] shadow-lg rounded-lg p-6 hover:shadow-xl transition-shadow">
    <div>
        <h2 class="text-xl font-semibold mb-2">{{book.title}}</h2>
        <p class="text-gray-600 mb-2 cursor-pointer hover:underline" (click)="goAuthorProfile(book)">Autor: {{book.author_name}}</p>
        <p class="text-gray-500">{{book.description}}</p>
    </div>
    <div class="flex justify-end mt-4" *ngIf="currentUser.id != book.author_id">
        <button class="p-2 bg-blue-500 text-white rounded cursor-pointer hover:opacity-90" (click)="onFavorite(book)">Favoritos</button>
    </div>
    <div class="flex justify-end mt-4" *ngIf="currentUser.id == book.author_id">
        <button class="p-2 bg-blue-500 text-white rounded cursor-pointer hover:opacity-90" (click)="onDelete(book)">
            Eliminar
        </button>
    </div>
</div>